﻿<%@ Page Language="C#" MasterPageFile="Vote.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Default" %>

<asp:Content ID="head" ContentPlaceHolderID="headPlaceHolder" runat="server">
</asp:Content>
<asp:Content ID="content" ContentPlaceHolderID="contentPlaceHolder" runat="server">
    <br/>
    <asp:Label ID="lblGreeting" runat="server" Text="Welcome to the Voting Application"></asp:Label>
    <br/>
    <br/>
</asp:Content>
