﻿.resultsHeadingLabel {
    font-weight: bold;
    text-decoration: underline;
}
.countsLabel {
    width: 8em;
    font-size: 200%;
}
.descriptionLabel {
    margin-left: 2em;
    float: left;
    width: 6em;
    font-size: 200%;
}
