﻿.voteHeadingLabel {
    font-weight: bold;
    text-decoration: underline;
}
.voteLabel {
    margin-left: 2em;
    float: left;
    width: 8em;
}
.voteText{
    margin-bottom: 10px;
    width: 6em;
}
.voteRadio {
    width: 5em;
}
.voteButton {
    margin-top: 1em;
    margin-left: 12em;
}
